@import url("./fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prm-clr: #79321b;
  --bg-clr: #ffedd5;
  --prm-muted: #8a4b36;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: var(--bg-clr);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.nav-anim::after {
  content: "";
  height: 0.1rem;
  width: 0%;
  background-color: var(--prm-clr);
  display: inline-block;
  position: absolute;
  top: 1.7rem;
  left: 0;
  transition: all 0.2s ease-in;
}

.nav-anim:hover::after {
  width: 100%;
}

.body-padding {
  padding-inline: 3rem;
}

.arrow {
  clip-path: polygon(56% 0, 0 0, 68% 95%);
  width: 1rem;
  height: 1rem;
}

@media (max-width: 768px) {
  .body-padding {
    padding-inline: 1rem;
  }
}
